<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIM Templates</title>
    <link href="styles.css?v=1.1" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="h-container">
        <h1>MIM Templates</h1>
        <h2>Browse and share your MIM script templates with the community</h2>
    </div>

    <div class="content-main">
        <div class="warning">
            Ensure you <span style="color: red;">READ</span> scripts, not only for your safety but there are also values you <span style="color: red;">MUST</span> change in order for scripts to function, like you keyboard ID.
        </div>
        <div class="empty-state">
            <h2>It's looking pretty empty in here...</h2>
            <p>Share your templates with me on discord @ov.ah !!!</p>
        </div>

        <div class="templates-grid">
            <div class="template-card">
                <div class="template-title">Vertical Crops (lane switch)</div>
                <div class="template-description">Uses space bar and the left and right alt keys allowing you to break and travel in either direction for lane switches.</div>
                <div class="template-meta">
                    <span>By: ovah</span>
                    <a class="download-button" href="res/templates/verticalcrops.ahk">Download</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>Made with ♥ by ovah</p>
    </footer>
</body>
</html>